<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 class="title">Login</h1>
        <div class="orderform">
            <form action="/login" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                    <p><em>Note: This is for administrators only. If you are not an administrator, you do not have to log in. The ordering function does not require an account.</em></p>
                </div>
                <button class="btn-lg btn-default btn-block btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>